@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@font-face {
  font-family: lena;
  src: url(../fonts/lena.ttf);
}

.font-lena {
  font-family: lena;
}


::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  color: #27272A;
  letter-spacing: -0.5px;
}



a {
  text-decoration: none;
  transition: .3s;
  display: inline-block;
}

.container {
  max-width: 1720px !important;
  margin: 0 auto;
  @media (max-width: 1752px) {
    padding: 0 16px;
  }
}

// 1rem = 16px | 1rem = 15px
//@media (max-width: 1024px) {
//  html {
//    font-size: 15px;
//  }
//}
//
//@media (max-width: 992px) {
//  html {
//    font-size: 14px;
//  }
//}
//
//@media (max-width: 576px) {
//  html {
//    font-size: 13px;
//  }
//}


.noUi-horizontal{
  height: 6px;
  border: none;
}

.noUi-connect{
  background: #009FFF;
}

.noUi-horizontal .noUi-handle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -9px;
  right: -13px;
  border: 4px solid #fff;
  background: #009FFF;
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1);

  &:hover{
    border: 3.5px solid #fff;
  }
  &:active{
    transform: scale(0.90);
  }

  &:before, &:after{
    display: none;
  }
}

.def-checkbox{


  input{
    display: none;
  }

  input:checked ~ span{
    border: 2px solid #009FFF;
    background: #009FFF;
  }

  input:checked ~ span:after{
    opacity: 1;
  }


  &.brand{
    span{
      width: 58px;
      height: 32px;
      padding: 4px;
      img{
        width: 100%;
      }
    }

    input:checked ~ span{
      border: 2px solid #009FFF;
      background: #fff;
    }
  }

  span{
    width: 20px;
    min-width: 20px;
    height: 20px;
    gap: 8px;
    border-radius: 4px;
    background: #fff;
    border: 2px solid #DBDBDB;
    @include flex('c', 'c');
    transition: 0.3s;


    &:after{
      content: "";
      width: 100%;
      height: 100%;
      background: url("../img/icons/check.svg") no-repeat center center;
    }
  }
}

.swiperProductItems{
  .swiper-pagination-bullet{
    transition: 0.3s;
  }
  .swiper-pagination-bullet-active{
    width: 20px;
    border-radius: 10px;
  }
}

.swiper-pagination {
  display: none;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }
}

.product-item-slider {
  .swiper-slide{
    opacity: 0.6;
  }
  .swiper-slide-active{
    opacity: 1 !important;
  }
}

@media (max-width: 1600px) {
  .popularSwiper {
    margin-left: -20px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
    .swiper-pagination{
      bottom: 0px;
    }
  }
  .popularSwiper .swiper-slide {
    width: 320px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .popularSwiper .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
}

@media (max-width: 1500px) {
  .categoriesSwiper {
    margin-left: -20px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
    .swiper-pagination{
      bottom: 0px;
    }
  }
  .categoriesSwiper .swiper-slide {
    width: 320px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .categoriesSwiper .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
  .swiperPartners .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
  .swiperPartners {
    margin-left: -16px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
    .swiper-pagination{
      bottom: 0px;
    }
  }
  .infoSwiper {
    padding-bottom: 30px;
    .swiper-pagination{
      bottom: 0px;
    }
  }
  .bg-none{
    background: none !important;
  }
  #tab-login, #tab-register{
    font-size: 20px !important;
    padding: 12px !important;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.noUi-handle {
  box-shadow: inherit !important;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;    /* Firefox */
}


.bg{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-v3 {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: #ddd;
}

// ********** Switch:
.slider-v3::after {
  position: absolute;
  content:'';
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  border-radius: 1.5em;
  transition:
          width 200ms ease-out,
          height 300ms 50ms ease-in,
          top 300ms 50ms ease-in,
          left 250ms 50ms ease-in,
          background 300ms ease-in,
          box-shadow 300ms ease-in;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}



input:checked + .slider-v3::after {
  left: 20px;
  background: #fff;
  box-shadow: 0 0 0 0 #f2f2f2 inset;
}

input:checked + .slider-v3 {
  background: #009FFF;
}


.bottom-scroll-none{
  &::-webkit-scrollbar {
    height: 0 !important;
  }
}

.swiperHero {
  .swiper-pagination{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background: #E8E8E880;
    height: 20px;
    width: auto;
    border-radius: 20px;
    @include flex('sb', 'c');
    padding: 4px;
    
    @media (min-width: 768px) {
      display: none;
    }

    .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      background: white;
      opacity: 1;

      &.swiper-pagination-bullet-active{
        background: #009FFF;
      }
    }
  }
}

.swiper-pagination-bullet{
  transition: 0.3s;
}

.swiper-pagination-bullet-active{
  width: 15px;
  border-radius: 5px;
}

[src="img/message-ilustriator.png"]{
  @media (max-width: 992px){
    display: none !important;
  }
}

.com-body-scroll-bottom-min{
  &::-webkit-scrollbar {
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.scroll-gray{
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(146, 146, 146);
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #949596;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #718096;
}


@tailwind base;
@tailwind components;
@tailwind utilities;