@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@font-face {
  font-family: lena;
  src: url(../fonts/lena.ttf);
}
.font-lena {
  font-family: lena;
}

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  color: #27272A;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.container {
  max-width: 1720px !important;
  margin: 0 auto;
}
@media (max-width: 1752px) {
  .container {
    padding: 0 16px;
  }
}

.noUi-horizontal {
  height: 6px;
  border: none;
}

.noUi-connect {
  background: #009FFF;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -9px;
  right: -13px;
  border: 4px solid #fff;
  background: #009FFF;
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1);
}
.noUi-horizontal .noUi-handle:hover {
  border: 3.5px solid #fff;
}
.noUi-horizontal .noUi-handle:active {
  transform: scale(0.9);
}
.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  display: none;
}

.def-checkbox input {
  display: none;
}
.def-checkbox input:checked ~ span {
  border: 2px solid #009FFF;
  background: #009FFF;
}
.def-checkbox input:checked ~ span:after {
  opacity: 1;
}
.def-checkbox.brand span {
  width: 58px;
  height: 32px;
  padding: 4px;
}
.def-checkbox.brand span img {
  width: 100%;
}
.def-checkbox.brand input:checked ~ span {
  border: 2px solid #009FFF;
  background: #fff;
}
.def-checkbox span {
  width: 20px;
  min-width: 20px;
  height: 20px;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
  border: 2px solid #DBDBDB;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.def-checkbox span:after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/icons/check.svg") no-repeat center center;
}

.swiperProductItems .swiper-pagination-bullet {
  transition: 0.3s;
}
.swiperProductItems .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .swiper-pagination {
    display: block;
  }
}
.product-item-slider .swiper-slide {
  opacity: 0.6;
}
.product-item-slider .swiper-slide-active {
  opacity: 1 !important;
}

@media (max-width: 1600px) {
  .popularSwiper {
    margin-left: -20px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
  }
  .popularSwiper .swiper-pagination {
    bottom: 0px;
  }
  .popularSwiper .swiper-slide {
    width: 320px;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .popularSwiper .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
}
@media (max-width: 1500px) {
  .categoriesSwiper {
    margin-left: -20px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
  }
  .categoriesSwiper .swiper-pagination {
    bottom: 0px;
  }
  .categoriesSwiper .swiper-slide {
    width: 320px;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .categoriesSwiper .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
  .swiperPartners .swiper-slide {
    width: 190px;
    margin-left: 15px;
  }
  .swiperPartners {
    margin-left: -16px;
    width: calc(100% + 32px);
    padding-bottom: 30px;
  }
  .swiperPartners .swiper-pagination {
    bottom: 0px;
  }
  .infoSwiper {
    padding-bottom: 30px;
  }
  .infoSwiper .swiper-pagination {
    bottom: 0px;
  }
  .bg-none {
    background: none !important;
  }
  #tab-login, #tab-register {
    font-size: 20px !important;
    padding: 12px !important;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-v3 {
  position: relative;
  display: block;
  width: 40px;
  height: 24px;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: #ddd;
}

.slider-v3::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  border-radius: 1.5em;
  transition: width 200ms ease-out, height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}

input:checked + .slider-v3::after {
  left: 20px;
  background: #009FFF;
  box-shadow: 0 0 0 0 #f2f2f2 inset;
}

.bottom-scroll-none::-webkit-scrollbar {
  height: 0 !important;
}

.swiperHero .swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background: rgba(232, 232, 232, 0.5019607843);
  height: 20px;
  width: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
@media (min-width: 768px) {
  .swiperHero .swiper-pagination {
    display: none;
  }
}
.swiperHero .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 1;
}
.swiperHero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #009FFF;
}

.swiper-pagination-bullet {
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  width: 15px;
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*# sourceMappingURL=style.css.map */
