<div class="w-full relative bg-[#0061C2] mt-10 sm:mt-[100px] flex-jc-c py-8" style="background-image: url(img/footer-bg.png)">
  <div class="container">
    <div class="flex-js-s md:flex-jsb-c flex-col md:flex-row">
      <div>
        <h3 class="font-light text-[32px] lg:text-[44px] leading-[30px] md:leading-none text-white font-lena mb-5 md:mb-0">
         Работаем с 2009 года
        </h3>
        <p class="text-white">Получай наши новости, акции, советы и рекомендации экспертов</p>
      </div>
      <div class="w-full md:w-1/2">
        
        <form action="#" class="w-full mt-2" id="footer-form">
          <div class="flex-jsb-c max-[431px]:flex-col gap-4">
            <label class="w-full h-[54px] bg-white overflow-hidden rounded-[8px] relative">
              <input type="text" placeholder="Ваша почта" class="w-full h-full pl-6">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                   class="absolute top-1/2 right-3 transform translate-y-[-50%]" style="display: none" id="icon-success">
                <rect width="24" height="24" rx="8" fill="#2FAF6F"/>
                <path d="M8.50183 12.5L11.0018 15L16.0018 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </label>
            <button
                class="bg-[#CF301B] hover:bg-[#CF301B]/90 transition h-[54px] px-6 rounded-[8px] text-white text-nowrap font-bold flex-jc-c gap-2 max-[431px]:w-full" id="footer-submit-btn">
              Подписаться
            </button>
            <button
                class="bg-[#2FAF6F] transition h-[54px] px-6 rounded-[8px] text-white text-nowrap font-bold flex-jc-c gap-2 max-[431px]:w-full" id="footer-submit-success" style="display: none" type="button">
              Подписка  успешно оформлена
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.50183 12.5L11.0018 15L16.0018 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>

          <label class="def-checkbox flex-js-s mt-2 !text-white text-[12px]">
            <input type="checkbox" required>
            <span class="mr-2"></span>
            <p class="text-[14px] text-white">Согласен с условиями согласия на обработку <a href="#" class="underline mx-1">персональных данных</a> и <a href="#" class="underline mx-1">политики конфендициальности</a></p>
          </label>
        </form>
      </div>
    </div>
  </div>
</div>


<footer class="bg-[#262626] pt-10 md:pt-[91px] pb-8">
  <div class="container">
    <div class="w-full grid-cols-12 gap-10 hidden min-[850px]:grid">
      <div class="col-span-4 min-[1300px]:col-span-3">
        <img src="img/logo-footer.svg" alt="logo-footer" class="mt-[-20px]">
        <div class="flex-js-c gap-2 text-white mt-4">
          Ваш город
          <img src="img/icons/location.svg" alt="location">
          <div class="text-white flex-js-c gap-2 cursor-pointer text-nowrap">
            г. Москва
            <img src="img/icons/down.svg" alt="">
          </div>
        </div>
        <div class="flex-js-c gap-4 mt-4">
          <a href="#">
            <img src="img/icons/whats-app.svg" alt="whats-app">
          </a>
          <a href="#">
            <img src="img/icons/tg.svg" alt="tg">
          </a>
        </div>
      </div>

      <div class="col-span-2 min-[1300px]:col-span-3 lg:pr-4">
        <h4 class="text-white text-[20px] mb-4">Каталог</h4>
        <div class="flex-js-s min-[1300px]:gap-[60px] max-[1300px]:flex-col">
          <ul>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Удилища
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Катушки
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Приманки
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Оснастка
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue text-nowrap">
                Зимняя рыбалка
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue text-nowrap">
                Одежда и обувь
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Электроника
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Аксессуары
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Туризм
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Скидки
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Сертификаты
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-span-2">
        <h4 class="text-white text-[20px] mb-4">Сервис</h4>
        <div class="flex-jsb-s gap-[60px]">
          <ul>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                О магазине
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Доставка и оплата
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Подарочные карты
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Скидки
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Новости
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Сервис и гарантии
              </a>
            </li>
            <li>
              <a href="#" class="text-white opacity-80 mb-2 hover:text-blue">
                Контакты
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-span-4 min-[1200px]:col-span-2">
        <div class="block min-[1200px]:hidden mb-4">
          <h4 class="text-white text-[20px] mb-4">Контакты</h4>

          <a href="tel: 8 (800) 101-86-53" class="text-white font-bold block">
            8 (800) 101-86-53
          </a>
          <a href="tel: 8 (800) 101-86-53" class="text-white font-bold mb-4">
            8 (921) 903-53-50
          </a>

          <button
              class="bg-[#CF301B] hover:bg-[#CF301B]/90 transition h-[54px] px-6 rounded-[8px] text-white text-nowrap font-bold flex-jc-c gap-2 mb-4">
            Обратный звонок
          </button>

          <a href="mailto: fishemania777@yandex.ru" class="text-blue underline mb-4">
            fishemania777@yandex.ru
          </a>

          <p class="text-[14px] text-white opacity-80 max-w-[170px]">
            Пн-Пт : с 10:00 до 18:00 Сб-Вс : Выходные </p>
        </div>

        <ul>
          <li>
            <a href="#" class="text-white opacity-80 mb-2 flex-js-c hover:text-blue text-[17px]">
              <img src="img/icons/favorite.svg" alt="favorite" class="mr-2">
              Избранное
            </a>
            <a href="#" class="text-white opacity-80 mb-2 flex-js-c hover:text-blue text-[17px]">
              <img src="img/icons/rows-white.svg" alt="rows-white" class="mr-2">
              Сравнения
            </a>
            <a href="#" class="text-white opacity-80 mb-2 flex-js-c hover:text-blue text-[17px]">
              <img src="img/icons/basket-white.svg" alt="basket-white" class="mr-2">
              Корзина
            </a>
            <a href="#" class="text-white opacity-80 mb-2 flex-js-c hover:text-blue text-[17px]">
              <img src="img/icons/login-account.svg" alt="login-account" class="mr-2">
              Регистрация и вход
            </a>
          </li>
        </ul>

      </div>


      <div class="col-span-2 hidden min-[1200px]:block">
        <h4 class="text-white text-[20px] mb-4">Контакты</h4>

        <a href="tel: 8 (800) 101-86-53" class="text-white font-bold">
          8 (800) 101-86-53
        </a>
        <a href="tel: 8 (800) 101-86-53" class="text-white font-bold mb-4">
          8 (921) 903-53-50
        </a>

        <button
            class="bg-[#CF301B] hover:bg-[#CF301B]/90 transition h-[54px] px-6 rounded-[8px] text-white text-nowrap font-bold flex-jc-c gap-2 mb-4">
          Обратный звонок
        </button>

        <a href="mailto: fishemania777@yandex.ru" class="text-blue underline mb-4">
          fishemania777@yandex.ru
        </a>

        <p class="text-[14px] text-white opacity-80 max-w-[170px]">
          Пн-Пт : с 10:00 до 18:00 Сб-Вс : Выходные </p>
      </div>


    </div>


    <div class="w-full block min-[850px]:hidden">

      <div class="w-full flex-jsb-c border-b pb-6 border-white/20">
        <a href="home.html">
          <img src="img/logo-footer.svg" alt="logo-footer" class="w-[170px]">
        </a>
        <div class="flex-js-c gap-4 mt-4">
          <a href="#">
            <img src="img/icons/whats-app.svg" alt="whats-app" width="24px">
          </a>
          <a href="#">
            <img src="img/icons/tg.svg" alt="tg" width="24px">
          </a>
        </div>
      </div>


      <ul class="w-full grid grid-cols-2 mt-4">
        <li>
          <a href="#" class="text-white opacity-80 mb-2 flex-js-c">
            <img src="img/icons/favorite.svg" alt="favorite" class="mr-2">
            Избранное
          </a>
        </li>
        <li>
          <a href="#" class="text-white opacity-80 mb-2 flex-js-c">
            <img src="img/icons/rows-white.svg" alt="rows-white" class="mr-2">
            Сравнения
          </a>
        </li>
        <li>
          <a href="#" class="text-white opacity-80 mb-2 flex-js-c">
            <img src="img/icons/basket-white.svg" alt="basket-white" class="mr-2">
            Корзина
          </a>
        </li>
        <li>
          <a href="#" class="text-white opacity-80 mb-2 flex-js-c text-nowrap">
            <img src="img/icons/login-account.svg" alt="login-account" class="mr-2">
            Регистрация и вход
          </a>
        </li>
      </ul>

      <div class="mb-4 w-full grid grid-cols-2 mt-4">

        <div>
          <a href="tel: 8 (800) 101-86-53" class="text-white font-bold block">
            8 (800) 101-86-53
          </a>
          <a href="tel: 8 (800) 101-86-53" class="text-white font-bold mb-4">
            8 (921) 903-53-50
          </a>
        </div>

        <button
            class="bg-[#CF301B] hover:bg-[#CF301B]/90 transition h-[54px] px-6 rounded-[8px] text-white text-nowrap font-bold flex-jc-c gap-2 mb-4">
          Обратный звонок
        </button>

        <div>
          <a href="mailto: fishemania777@yandex.ru" class="text-blue underline">
            fishemania777@yandex.ru
          </a>

          <p class="text-[14px] text-white opacity-80 max-w-[170px]">
            Пн-Пт : с 10:00 до 18:00 Сб-Вс : Выходные </p>
        </div>
      </div>

    </div>


  </div>

  <div class="w-full h-[1px] bg-white/20 mt-6 mb-2"></div>

  <div class="container pb-4">
    <div class="w-full min-[420px]:h-[54px] flex-js-s gap-3 min-[420px]:flex-jsb-c max-[420px]:flex-col">
      <p class="text-[14px] text-white opacity-80">Информация, размещенная на сайте, не является публичной офертой.</p>
      <p class="text-[14px] text-white opacity-80">© 2005–2025. Все права защищены</p>
    </div>
  </div>

</footer>
